.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.bannerContainer {
  position: relative;
}

.bannerImg {
  width: 100%;
}

.section {
  width: 90%;
  margin: 32px auto;
  display: flex;
  flex-direction: column;
}

.sectionTitle {
  color: #323c47;
  padding: 16px 10px;
  width: 100%;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  border-bottom: 1px solid #e5e5e5;
}

.brandsContainer {
  display: flex;
  flex-direction: row;
  margin: 24px auto;
}

.brandContainer {
  margin: 16px;
}

.productContainer {
  display: flex;
  flex-direction: column;
}

.productImage {
  width: 150px;
  height: 160px;
}
